<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Projects</title>
    <script type="text/javascript" src="code.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="projects_page">
<button class="back" onclick="location.href='/'">Back</button>
<h1>Projects</h1>
<table class="projects">
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${projects}" th:id="|row_${entry.id}|">
        <td th:text="${entry.name}"></td>
        <td><button th:attr="onclick=|viewProject(${entry.id})|">View</button></td>
    </tr>
    </tbody>
</table>
</body>
</html>